body {
  display: flex;
  height: 100svh;
  justify-content: center;
  align-items: center;
}

#container {
  height: 100svh;
  width: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}